<?php
return array(
    'httpProxy' => array(
        'directory' => __DIR__ . '/_files',
        'hosts' => array(
            'my-vcd-host' => 'vcloud-director',
        ),
        'excludeRequestHeaders' => array(
            'accept',
            'user-agent',
            'authorization',
            'x-vcloud-authorization',
        ),
        'excludeResponseHeaders' => array(
            'date',
            'x-cache',
            'x-cache-lookup',
            'via',
            'connection',
        ),
    ),
    'host' => 'my-vcd-host',
    'apiVersion' => '5.5',
    'users' => array(
        'administrator' => array(
            'organization' => 'system',
            'username' => 'administrator',
            'password' => '********'
        ),
    ),
    'unknownOrganization' => 'a7baacbe-8a59-4286-b8c9-694153bf9e76',
    'knownUser' => '23d6deb1-1778-4325-8289-2f150d122674',
    'unknownUser' => '23d6deb1-1778-4325-8289-2f150d122675',
    'totalUsers' => 87,
    'queryPageSize' => 50,
    'metadata' => array(
        'type' => 'adminVAppTemplate',
        'name' => 'vCloudHelpersTestMetadata',
        'value' => 'Tu peux pas test',
        'unknownValue' => 'Some unknown value',
        'countWithValue' => 1,
        'countWithoutValue' => 2,
    ),
    'data' => array(
        'service' => array(
            'sampleUserObject' => array(
                'type' => 'org',
                'href' => 'https://vcd-demo.ecocenter.fr/api/org/a7baacbe-8a59-4286-b8c9-694153bf9e75',
                'name' => 'ECV',
            ),
            'sampleAdminObject' => array(
                'type' => 'adminUser',
                'href' => 'https://vcd-demo.ecocenter.fr/api/admin/user/23d6deb1-1778-4325-8289-2f150d122674',
                'name' => 'yconan',
            )
        ),
    ),
);
