<?php
return array(
    'host' => 'my-vcd-host',
    'apiVersion' => '5.5',
    'users' => array(
        'administrator' => array(
            'organization' => 'system',
            'username' => 'administrator',
            'password' => '********'
        ),
    ),
    'unknownOrganization' => 'a7baacbe-8a59-4286-b8c9-694153bf9e76',
    'knownUser' => '23d6deb1-1778-4325-8289-2f150d122674',
    'unknownUser' => '23d6deb1-1778-4325-8289-2f150d122675',
    'totalUsers' => 87,
    'metadata' => array(
        'type' => 'adminVAppTemplate',
        'name' => 'vCloudHelpersTestMetadata',
        'value' => 'Tu peux pas test',
        'countWithValue' => 1,
        'countWithoutValue' => 2,
    ),
);
