<?php
return array(
    'httpProxy' => array(
        'directory' => __DIR__ . '/_files',
        'hosts' => array(
            'vcloud.local' => 'vcloud-director',
        ),
        'excludeRequestHeaders' => array(
            'accept',
            'user-agent',
        ),
        'excludeResponseHeaders' => array(
            'date',
            'x-cache',
            'x-cache-lookup',
            'via',
            'connection',
        ),
    ),
    'host' => 'vcloud.local',
    'apiVersion' => '5.1',
    'unknownOrganization' => 'a7baacbe-8a59-4286-b8c9-694153bf9e76',
    'knownUser' => '23d6deb1-1778-4325-8289-2f150d122674',
    'unknownUser' => '23d6deb1-1778-4325-8289-2f150d122675',
    'totalUsers' => 91,
    'queryPageSize' => 50,
    'metadata' => array(
        'type' => 'adminVAppTemplate',
        'name' => 'vCloudHelpersTestMetadata',
        'value' => 'Tu peux pas test',
        'unknownValue' => 'Some unknown value',
        'countWithValue' => 1,
        'countWithoutValue' => 2,
    ),
    'users' => array(
        'cloudAdministrator' => array(
            'organization' => 'system',
            'username' => 'Administrator',
            'password' => '********',
        ),
        'organizationAdministrator' => array(
            'organization' => 'Testing',
            'username' => 'OrgAdmin',
            'password' => '********',
        ),
        'vAppAuthor' => array(
            'organization' => 'testing',
            'username' => 'vAppAuthor',
            'password' => '********',
        ),
        'consoleOnly' => array(
            'organization' => 'testing',
            'username' => 'ConsoleOnly',
            'password' => '********',
        ),
        'sandboxServiceUser' => array(
            'organization' => 'testing',
            'username' => 'SandboxUser',
            'password' => '********',
        ),
        'ldapOrganizationAdmin' => array(
            'organization' => 'testing',
            'username' => 'AMercier',
            'password' => '********',
        ),
    ),
    'data' => array(
        'service' => array(
            'sampleUserObject' => array(
                'type' => 'org',
                'href' => 'https://vcloud.local/api/org/a7baacbe-8a59-4286-b8c9-694153bf9e75',
                'name' => 'ECV',
            ),
            'sampleAdminObject' => array(
                'type' => 'adminUser',
                'href' => 'https://vcloud.local/api/admin/user/23d6deb1-1778-4325-8289-2f150d122674',
                'name' => 'yconan',
            )
        ),
    ),
);
